.vs/dtaction-android/v15/Server/sqlite3/storage.ide-shm
.vs/dtaction-android/v15/Server/sqlite3/storage.ide-wal
.vs/dtaction-android/v15/.suo
dtaction-android/obj/Debug/build.props
dtaction-android/obj/Debug/dtaction-android.csproj.CoreCompileInputs.cache
