.vs/dtaction-android/v15/Server/sqlite3/storage.ide-shm
.vs/dtaction-android/v15/Server/sqlite3/storage.ide-wal
.vs/dtaction-android/v15/.suo
dtaction-android/obj/Debug/build.props
dtaction-android/Resources/Resource.Designer.cs
dtaction-android/bin/Debug/
